[run]
source = src
omit =
    */venv/*
    */tests/*
    */migrations/*
    */scripts/*
    */__pycache__/*
    */__init__.py
    */conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    raise ValueError
    except ValueError

[html]
directory = coverage_html_report
